@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins";
}

.grid-container {
  display: grid;
  gap: 2px;
  grid-template-columns: auto auto auto auto auto auto;
}

.grid-item {
  font-size: 30px;
  text-align: center;
}

.input-otp {
  /* border-radius: 10px; */
  width: 40px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  appearance: none;
}

.input-otp:focus {
  outline: none;
  border: 2;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: cream;
  margin-left: -3px;
  /* margin-top: 10px; */
}

.v-stepper {
  position: relative;
  margin-top: 0px;
  /*   visibility: visible; */
}

/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid #78251e;
  border-radius: 100%;
  width: 8px; /* +6 for border */
  height: 8px;
  display: inline-block;
}

.step .circle-grey {
  background-color: white;
  border: 3px solid #bdbdbd;
  border-radius: 100%;
  width: 8px; /* +6 for border */
  height: 8px;
  display: inline-block;
  margin-top: 8px;
}

.step .line {
  top: 18px;
  left: 6px;
  height: 100%;

  position: absolute;
  border-left: 1px solid #bdbdbd;
}

.step:last-child .line {
  border-left: 1px solid white;
  z-index: -1;
}

.content {
  margin-left: 10px;
  display: inline-block;
}

.print-file {
  width: 80mm;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto Serif";
  height: 40vh;
  background-color: #fff;
}

@media print {
  .hidden-print,
  .hidden-print * {
    display: none !important;
  }
}
